.hint {
  display: block;
  position: absolute;
  text-align: center;
  min-width: 80px;
  max-width: 200px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #ffffff;
  margin-top: 0px;
  top: 0;
  right: 0;
  background-color: #333333;
  border-radius: 6px;
  z-index: 999;
}

.hint-top .hint::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: -4px;
  left: calc(50% - 4px);
  background: #333333;
  transform: rotate(45deg);
}
.hint-bottom .hint::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  top: -4px;
  left: calc(50% - 4px);
  background: #333333;
  transform: rotate(45deg);
}
.hint-left .hint::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  right: -4px;
  top: calc(50% - 4px);
  background: #333333;
  transform: rotate(45deg);
}
.hint-right .hint::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  left: -4px;
  top: calc(50% - 4px);
  background: #333333;
  transform: rotate(45deg);
}

